.wrapper{
    height: 500px;
    width: 300px;
    border: 1px black solid;
    margin: auto;
    padding: auto;
}
.messageWall{
    height: 430px;
    width:300px;
    margin-top:20px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

}
.textBox{
    width:200px;
}
.messageContainer{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-content: center;
    /* display: flex; */
   
}
.messageContainerSent{
   /* display: inline;
   float: right;     */
}
.message{
    height: auto;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border: 0px;
    border-radius: 25px;
    background-color: rgb(67, 211, 236);
    color: #333333;

}
.sentMessage{
    position: relative;
}
.avatarWrapper{
    margin : 0 5px;
    padding: 5px;
    height:20px;
    width:fit-content;
    border-radius: 20px;
    border:1px solid black;
    background-color:rgb(194, 172, 236);
}
.sentAvatar{
    background-color: lightgreen;

}
li{
    list-style: none;
    margin: 5px;

}
.corrector{
    width: fit-content;
    float: right;
    display: flex;
    /* position: relative;
    right:0px; */
}